@{
    ViewData["Title"] = "Preço";
    ViewData["User"] = "Chuck Norris";
}

@model SGR.Models.PrecoMercadoriaFornecedor

@section Styles
{
    <link rel="stylesheet" href="~/lib/datatables-bs4/css/dataTables.bootstrap4.css">
}


@{
    List<SelectListItem> newList = new List<SelectListItem>();

    foreach (Mercadoria m in ViewBag.Mercadorias)
    {
        SelectListItem selListItem = new SelectListItem() { Value = m.Id.ToString(), Text = m.Nome };
        newList.Add(selListItem);
    }

    var selectList = new SelectList(newList, "Value", "Text");

    List<SelectListItem> newList2 = new List<SelectListItem>();

    foreach (Fornecedor m in ViewBag.Fornecedores)
    {
        SelectListItem selListItem = new SelectListItem() { Value = m.Id.ToString(), Text = m.Email };
        newList2.Add(selListItem);
    }

    var selectList2 = new SelectList(newList2, "Value", "Text");
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Preços</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Preço</li>
                </ol>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Main content -->
    <section class="content">
        <div class="card-body">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Adicionar MercadoriaInArtigo</h5>
                </div>
                @Html.ValidationSummary(true)
                <div class="card-body">
                    <form role="form">
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Mercadoria, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.DropDownListFor(model => model.Mercadoria, selectList, "", new { @class = "custom-select" })
                                @Html.ValidationMessageFor(model => model.Mercadoria, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Fornecedor, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.DropDownListFor(model => model.Fornecedor, selectList2, "", new { @class = "custom-select" })
                                @Html.ValidationMessageFor(model => model.Fornecedor, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" value="Adicionar" class="btn btn-primary">Adicionar</button>
                        </div>
                        <!-- /.card-body -->
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
}

@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.js"></script>

    <script>$(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });</script>
}