@{
    ViewData["Title"] = "Mercadorias";
    ViewData["User"] = "Chuck Norris";
}

@model SGR.Models.Mercadoria

@section Styles
{
    <link rel="stylesheet" href="~/lib/datatables-bs4/css/dataTables.bootstrap4.css">
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Mercadorias</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Mercadorias</li>
                </ol>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Main content -->
    <section class="content">
        <div class="card-body">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Editar Mercadoria</h5>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="card-body">
                    <form role="form">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Observacoes, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Observacoes, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Observacoes, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.QuantidadeMinima, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.QuantidadeMinima, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuantidadeMinima, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Embalagem, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Embalagem, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Embalagem, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" value="Guardar" class="btn btn-primary">Guardar</button>
                        @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-primary" })
                        <!-- /.card-body -->
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
}

@section Scripts
{
        <script src="~/lib/datatables/jquery.dataTables.js"></script>
        <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.js"></script>

        <script>$(function () {
                $("#example1").DataTable();
                $('#example2').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                });
            });</script>
    }