@{
    ViewData["Title"] = "ArtigoInPedido";
    ViewData["User"] = "Chuck Norris";
}

@model SGR.Models.ArtigoInPedido

@section Styles
{
    <link rel="stylesheet" href="~/lib/datatables-bs4/css/dataTables.bootstrap4.css">
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Conteúdo Pedido</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Pedido" asp-action="Index">Pedidos</a></li>
                    <li class="breadcrumb-item active">Conteúdo Pedido</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="card-body">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="m-0">Detalhes Conteúdo Pedido</h5>
            </div>
            <div class="card-body">

                <p class="error">@ViewBag.ErrorMessage</p>
                <div>
                    <h4>Conteúdo Pedido</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Artigo
                        </dt>

                        <dd>
                            @ViewBag.Artigos.Nome
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Quantidade)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Quantidade)
                        </dd>
                    </dl>
                </div>

                <p>
                    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Voltar", "Index", new {  }, new { @class = "btn btn-primary" })
                </p>

            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.js"></script>

    <script>$(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });</script>
}