@{
    ViewData["Title"] = "Pedidos";
    ViewData["User"] = "Chuck Norris";
}

@model SGR.Models.Pedido

@section Styles
{
    <link rel="stylesheet" href="~/lib/datatables-bs4/css/dataTables.bootstrap4.css">
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Pedidos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Pedidos</li>
                </ol>
            </div>
        </div>
    </div>
</section>

@{
    List<SelectListItem> newList = new List<SelectListItem>();

    newList.Add(new SelectListItem() { Value = "Pago", Text = "Pago" });
    newList.Add(new SelectListItem() { Value = "Por Pagar", Text = "Por Pagar" });
    newList.Add(new SelectListItem() { Value = "Por Servir", Text = "Por Servir" });

    var selectList = new SelectList(newList, "Value", "Text");
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Main content -->
    <section class="content">
        <div class="card-body">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Adicionar Pedido</h5>
                </div>
                @Html.ValidationSummary(true)
                <div class="card-body">
                    <form role="form">
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DataHora, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.DataHora, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DataHora, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.DropDownListFor(model => model.Estado, selectList, "", new { @class = "custom-select" })
                                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdFuncionario, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.IdFuncionario, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IdFuncionario, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Mesa, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Mesa, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Mesa, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" value="Adicionar" class="btn btn-primary">Adicionar</button>
                        </div>
                        <!-- /.card-body -->
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
}

@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.js"></script>

    <script>
    $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });</script>
}